table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1rem;
}

table, th, td {
  border: 1px solid black;
}

td {
  width: 4rem;
  height: 4rem; 
  text-align: center;
  font-size: 3rem;
  cursor: default;
  user-select: none;
}


div {
  text-align: center;
}
button {
  font-size: 2rem;
}