div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

p {
    width: 40%;
    text-align: center;
}

div#pyramidDiv {
    margin-top: 50px;
}